<div block="time-and-work-mp">

    <table elem="timetable">
        <thead>
        <tr>
            <td elem="day">Пн</td>
            <td elem="day">Вт</td>
            <td elem="day">Ср</td>
            <td elem="day" mod="today">Чт</td>
            <td elem="day">Пт</td>
            <td elem="day">Сб</td>
            <td elem="day">Вс</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            {{#each schedule}}
                <td>{{open}}<br>{{close}}</td>
            {{/each}}
        </tr>
        </tbody>
    </table>


    {{#if workCondition.comming}}
        <p elem="list-caption">Выезд на дом</p>
        <ul elem="list">
            {{#each workCondition.comming}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    {{/if}}


    {{#if districts}}
        <div elem="list-big-cont" style="{{#unless isActive}}width: 100%{{/unless}}">
            <p elem="list-caption">Районы обслуживания</p>

            <div elem="list-cont">
                <p elem="list-caption" mod="mini">Город</p>
                <ul elem="list">
                    {{#each districts}}
                        {{#is type "==" 1}}
                            <li>{{name}}</li>
                        {{/is}}
                    {{/each}}
                </ul>
            </div>
            <!--list-cont-->

            <div elem="list-cont">
                <p elem="list-caption" mod="mini">Пригород</p>
                <ul elem="list">
                    {{#each districts}}
                        {{#is type "==" 2}}
                            <li>{{name}}</li>
                        {{/is}}
                    {{/each}}
                </ul>
            </div>
            <!--list-cont-->

            <br elem="clear">
        </div>
        <!--list-big-cont-->
    {{/if}}


    {{#if isActive}}
    <div elem="list-big-cont">
        <p elem="list-caption">Оплата</p>

        {{#if workCondition.coop}}
            <div elem="list-cont">
                <p elem="list-caption" mod="mini">Форма сотрудни&shy;чества</p>
                <ul elem="list">
                    {{#each workCondition.coop}}
                        <li>{{this}}</li>
                    {{/each}}
                </ul>
            </div>
            <!--list-cont-->
        {{/if}}

        {{#if workCondition.payment}}
            <div elem="list-cont">
                <p elem="list-caption" mod="mini">Способы оплаты</p>
                <ul elem="list">
                    {{#each workCondition.payment}}
                        <li>{{this}}</li>
                    {{/each}}
                </ul>
            </div>
            <!--list-cont-->
        {{/if}}
            <br elem="clear">
        </div><!--list-cont-->
        <br elem="clear">
    {{/if}}

</div>