<div class="vcard">
    <img class="photo" src="{{imgSrc imgID}}" alt="{{{name}}}">
    <div class="contInfo">
        <p class="fn">{{{name}}}</p>
        <p class="category">{{spec}}</p>
    </div><!--contInfo-->
    <p class="url">www.facemaster.ru/{{page.number}}</p>
</div><!--vcard-->
<style type="text/css">
    .footer {
        display: none;
    }
</style>