<div block="page_oth_news">
    <cat-common-h1 id="common-h1" name="Новости"></cat-common-h1>

    <div elem="list">

        <div block="news-list">

            <div block="submit-news">
                <p elem="title">Предложить новость</p>
                <form>
                    <label elem="input-cont"><input type="text" placeholder="Заголовок новости"></label>
                    <label elem="input-cont"><input type="text" placeholder="Автор"></label>
                    <div elem="photo-cont" mix="block: add-news-thumb-result">
                        <i elem="del-ico" mix="block: js-photo-remove">{{icon 'close'}}</i>
                        <a elem="add-photo" mix="block: js-photo-upload" href="#add-news-thumb"><span>Загрузить фото</span></a>
                    </div>
                    <textarea placeholder="Текст новости"></textarea>
                    <input type="submit" value="Предложить"><input type="button" value="Отмена" mix="block:js-hide-submit-news">
                </form>
            </div>

            {{#each data}}
                <div block="news">
                    <div elem="inner">
                        <div elem="img-wr">
                            <img src="{{imgSrc img}}" alt="{{title}}" elem="img">
                        </div>
                        <div elem="content">
                            <p elem="title">{{title}}</p>

                            <p elem="intro">{{{stripTags preview}}}</p>

                            <p elem="date">{{formatDate date "%d %Z %Y"}}
                                <a elem="more" href="/news/item/{{id}}">подробнее<i>{{icon "strelka"}}</i></a>
                            </p>
                        </div>
                        <div elem="author-cont">
                            <p elem="author">Новость добавил:<br>{{author}}</p>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>

        <cat-common-paginator id="common-paginator" cat-store="Paginator" model="other/News"></cat-common-paginator>
    </div>
</div>