<div block="link-mp">
    {{#if links.vk}}
        <a href="{{links.vk}}">{{icon "vk"}}<span>{{links.vk}}</span></a>
    {{/if}}
    {{#if links.ok}}
        <a href="{{links.ok}}">{{icon "ok"}}<span>{{links.ok}}</span></a>
    {{/if}}
    {{#if links.site}}
        <a href="{{links.site}}">{{icon "earth"}}<span>{{links.site}}</span></a>
    {{/if}}
</div><!-- link-mp -->