<h1 block="h1" mod="style">Страница компании</h1>
<div block="company-page"><!-- cp - company-page -->
    <div elem="row">

        <div elem="card">

            <div elem="avatar-cont">
                <img src="{{imgSrc imgID 225 225}}" alt="{{name}}">
                <!--<i elem="like" style="color: red; font-weight: bold">{{icon "like"}} 129</i>-->
            </div>

            <div block="company-card-cp">
                <h1 elem="name"><span>{{name}}</span></h1>
            </div>
        </div>

        <div elem="contact-cont">
            <div block="contacts-cp">
                <p elem="addr">{{contacts.addr}}</p>
            </div>
        </div>
    </div>
</div>

