{{#if is-paginator}}
<div block="paginator">
    <p elem="title">Перейти к странице:</p>
    <ul>
        <li><a href="{{start.url}}" elem="number">‹</a></li>
        {{#each list}}
            <li>
                {{#if is-selected}}
                    <span>{{number}}</span>
                {{else}}
                    <a href="{{url}}" elem="number">{{number}}</a>
                {{/if}}
            </li>
        {{/each}}
        <li><a href="{{end.url}}" elem="number">›</a></li>
    </ul>
</div>
{{/if}}