<div block="article-cont-md">

    {{#each articles}}
        <div elem="item-cont">
            <cat-block-article id="block-article-{{id}}"
                               cat-store="{{../model}}"
                               id-block="{{id}}"
                               index="{{@index}}"
                               master-number="{{../masterNumber}}"
                               master-name="{{../masterName}}"></cat-block-article>
        </div>
    {{/each}}

</div>
