{{#if length}}
    <div block="master_recommended">
        <h2 elem="title">
            Этих<br>
            Мастеров<br>
            рекомендуют
        </h2>

        <div elem="slider">
            {{#each list}}
                <a href="{{page.number}}" elem="master">
                    <img elem="master-photo" src="{{imgSrc imgID 100 100}}" alt="{{name}}">
                    <p elem="master-name">{{name}}</p>
                    <p elem="master-recommendations">{{getNumEnding countLikes "человек, человека, человек"}}</p>
                </a>
            {{/each}}
        </div>
    </div>
{{/if}}