<div block="video-cont">
    <a href="http://{{url}}" elem="video-cover">
        <span elem="img-cont"><img src="{{img}}" alt="{{title}}"></span><br>
        <span elem="title-prev">{{title}}</span>
        <span elem="desc">{{description}}</span>
    </a>
    <a href="{{owner.page.number}}" elem="cont">
        <span elem="img"><img src="{{imgSrc owner.imgID 50 50}}" alt="{{owner.name}}"></span>
        <span elem="name"><br>{{owner.name}}</span>
    </a>
</div>

