{{#each this}}
    <div>
        <p>{{id}}</p>

        <p>{{name}}</p>

        <p>{{imgID}}</p>

        <p>
            количество мастеров{{mastersData.count_masters}}</p>
        <p>
            количество лайков{{mastersData.count_likes}}</p>
        <p>
            {{mastersData.is_sale}}
            {{mastersData.is_video}}
            {{mastersData.is_album}}
        </p>
    </div>
    <hr>
{{/each}}
