<div block="about-wr">
    <div class="container">
        <div class="row">
            <section block="about">
                <ul elem="list" mix="block:row">
                    <li block="about-list-item">
                        <p elem="text">
                            <span elem="text-ver-al">
                                ЗАРЕГИСТРИРУЙСЯ<br>НА САЙТЕ
                            </span>
                        </p>

                        <div elem="icon-wr">
                            {{icon "add-page"}}
                        </div>

                        <div elem="arrow">
                            {{icon "arrow"}}
                        </div>
                    </li>
                    <li block="about-list-item">
                        <p elem="text">
                            <span elem="text-ver-al">
                                ОПУБЛИКУЙСЯ
                            </span>
                        </p>

                        <div elem="icon-wr">
                            {{icon "picture"}}
                        </div>
                        <div elem="arrow">
                            {{icon "arrow"}}
                        </div>
                    </li>
                    <li block="about-list-item">
                        <p elem="text">
                            <span elem="text-ver-al">
                                ПОЛУЧАЙ<br>КЛИЕНТОВ
                            </span>
                        </p>

                        <div elem="icon-wr">
                            {{icon "people"}}
                        </div>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</div>