<div block="news-list">
    {{#each data}}
        <div block="news">
            <div elem="inner">
                <div elem="img-wr">
                    <img src="{{imgSrc img}}" alt="{{title}}" elem="img">
                </div>
                <div elem="content">
                    <p elem="title">{{title}}</p>

                    <p elem="intro">{{{stripTags preview}}}</p>

                    <p elem="date">{{formatDate date "%d %Z %Y"}}
                        <a elem="more" href="/news/item/{{id}}">подробнее<i>{{icon "strelka"}}</i></a>
                    </p>
                </div>
                <div elem="autor">
                    <p>
                        Новость добавил: <br> ERROR
                        {{autor}}
                    </p>
                </div>
            </div>
        </div>
    {{/each}}
</div>
