<div block="news-list">
    {{#each news}}
        <div block="news">
            <div elem="inner">
                <div elem="img-wr">
                    <img src="{{src}}" alt="{{title}}" elem="img">
                </div>
                <div elem="content">
                    <p elem="title">{{title}}</p>

                    <p elem="intro"> {{{stripTags preview}}}</p>

                    <p elem="date">{{formatDate date "%d %Z %Y"}}</p>

                    <a elem="more" href="{{url}}">
                        подробнее
                        <i elem="icon">{{icon "strelka"}}</i>
                    </a>
                </div>
                <div elem="autor">
                    <p>
                        Новость добавил: <br>
                        {{autor}}
                    </p>
                </div>
            </div>
        </div>
    {{/each}}
</div>
