<div block="next-prev-master" style="{{#unless next}}margin-right: -8px;{{/unless}}">
    {{#if prev}}
        <a elem="prev" href="/{{prev.page.number}}">
            {{icon "arrLeft"}}<span>{{{prev.name}}}</span>
            <img src="{{imgSrc prev.imgID 50 50}}" alt="">
        </a>
    {{/if}}
    {{#if next}}
        <a elem="next" href="/{{next.page.number}}">
            <img src="{{imgSrc next.imgID 50 50}}" alt="">
            <span>{{{next.name}}}</span>{{icon "arrRight"}}
        </a>
    {{/if}}
</div>