<div block="dop-function">
    <div elem="inner">
        <div block="become-master">
            <div elem="inner">
                <div elem="title" mix="block:dop-function-block-js">Мастерам {{icon "arrRight"}}</div>
                <ul elem="menu">
                    {{#each menuMaster}}
                    <li elem="item">
                        {{#if icon}}
                        <a href="{{url}}" elem="item-link" mod="hover">
                            <span elem="icon"></span>
                            {{{title}}}
                        </a>
                        {{else}}
                        <a href="{{url}}" elem="item-link">{{{title}}}</a>
                        {{/if}}
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div block="about-company">
            <div elem="inner">
                <div elem="title" mix="block:dop-function-block-js">О компании {{icon "arrRight"}}</div>
                <ul elem="menu">
                    {{#each menuAbout}}
                    <li elem="item">
                        <a href="{{url}}" elem="item-link">{{{title}}}</a>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div block="bayda">
            <div elem="inner">
                <div elem="title" mix="block:dop-function-block-js">Развлечения {{icon "arrRight"}}</div>
                <ul elem="menu-cube">
                    {{#each menuBayda}}
                    <li elem="item-cube">
                        {{#unless empty}}
                        <a href="{{url}}" elem="item-cube-link">{{{title}}}</a>
                        {{/unless}}
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>
