<div block="reviews-cont-md">

    <div block="recommendations">
        <p elem="total">Мастера рекомендуют <span elem="total-count">{{vkLikes.countLikes}} человек</span></p>

        <div elem="list">
            {{#each vkLikes.data}}
                {{#if this}}
                    <a elem="item" target="_blank" href="http://vk.com/id{{uid}}">
                        <img src="{{photo_100}}" alt="{{first_name}} {{last_name}}">
                    </a>
                {{else}}
                    <span elem="item" mod="empty"></span>
                {{/if}}
            {{/each}}
        </div>

        <div elem="buttons-block">
            <p elem="buttons-block-title">Порекомендуйте мастера:</p>

            <div id="vk_like"></div>
            <script type="text/javascript">
                VK.Widgets.Like("vk_like", {type: "button"});
            </script>
        </div>
    </div>

    <p elem="title">Оставить отзыв</p>

    <div elem="row">

        <cat-master-block-review-form id="master-block-review-form" cat-store="master/MasterReview"
                                      master-id="{{id}}"></cat-master-block-review-form>

        <div block="social-links">
            <div elem="wrapper">
                <p elem="title">Разместить ссылку на&nbsp;стра&shy;ницу Мастера в&nbsp;соц.&nbsp;сети:</p>

                <div elem="master">
                    <div elem="photo-cont">
                        <img src="{{imgSrc imgID}}" alt="{{name}}">
                    </div>

                    <p elem="name">{{name}}</p>
                </div>
                <p elem="note">Порекомендуйте этого специалиста своим друзям в&nbsp;социальной сети</p>

                <div elem="buttons">
                    <p style="color:red">Ссылки! VK, OK, FB, TW</p>
                </div>
            </div>
        </div>

    </div>

</div><!--mde-reviews-->
