<div block="popup-video-cont">
    <p elem="title">{{title}}</p>

    <div elem="video-cont"><iframe src="http://{{url}}" frameborder="0" allowfullscreen></iframe></div>

    <div block="master-micro-inf" mod="video">
        <p elem="title">Видео добавил:</p>
        <a href="/{{number}}" elem="cont" onclick="$.fancybox.close();">
            <span elem="img"><img src="{{imgSrc imgid 50 50}}" alt="{{name}}"></span>
            <span elem="name"><br>{{name}}</span>
        </a>
    </div>

    <p elem="text">{{{description}}}</p>

    <div elem="social-cont"></div>
</div>