<div block="master-minicard" class="{{#unless page.id}}master-minicard_free{{/unless}}">

    <div elem="photo-cont">
        <img elem="photo" src="http://api-fm.present-tlt.ru/files?key={{imgID}}" alt="{{name}}">
        <i elem="like">{{icon "like"}} {{vkLikes.countLikes}}</i>
    </div>

    <div elem="contact-wrap">
        <cat-master-phone-btn
                id="master-phone-btn-{{id}}"
                phone="{{contacts.phone}}"
                page="{{page.number}}"
                owner="{{id}}"></cat-master-phone-btn>

        {{#if page.number}}
            <a elem="to-page" href="/{{page.number}}">На страницу мастера<i>{{icon "strelka"}}</i></a>
        {{/if}}
        <a elem="show-services" href="#" mix="block:js-services-toggle">Показать услуги</a>
    </div>

    {{#if company}}
        <p elem="company">
            <span><img elem="logo" src="{{company.imgID}}" alt=""></span>
            <span>{{company.name}}</span>
        </p>
    {{/if}}

    <p elem="name">{{name}}</p>

    <p elem="spec">{{spec}}</p>

    <ul elem="services" mix="block: js-minicard-services-cut"
        class="{{#if isWidget}}master-minicard__services_half{{/if}}">
        {{#each services}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
    {{#if page}}
        <ul block="master-content-widget">
            <li elem="gift" class="{{#if page.sales}}{{#if sales.0.title}}act{{/if}}{{/if}}">
                <i>{{icon "gift"}}</i>

                <div>
                    <p elem="info">{{sales.0.title}}</p>

                    <p elem="text">{{sales.0.text}}</p>
                </div>

            </li>
            <li elem="photo" class="{{#if page.albums}}{{#if sales.0.title}}act{{/if}}{{/if}}">
                <i>{{icon "picture"}}</i>

                <div>
                    <p elem="info">{{albumsCount}} фотоальбомов</p>

                    <p elem="text">{{albumsTitle}}</p>
                </div>
            </li>
            <li elem="video" class="{{#if page.videos}}{{#if videos.0.title}}act{{/if}}{{/if}}">
                <i>{{icon "video"}}</i>

                <div>
                    <p elem="info">{{imgID}}</p>

                    <p elem="text">{{videos.0.title}}</p>
                </div>
            </li>
            <li elem="comment" class="{{#if page.comments}}{{#if comments.0.text}}act{{/if}}{{/if}}">
                <i>{{icon "dialog"}}</i>

                <div>
                    <p elem="info"><span>У Мастера:<br><strong>{{vkLikes.countLikes}} рекомендация<br>{{commentsCount}}
                        отзывов</strong></span></p>

                    <p elem="text">«{{comments.0.text}}»</p>
                </div>
            </li>
        </ul>
    {{/if}}

</div>


<div class="frame callback">

</div>


