<div block="master-minicard" class="{{#unless page.id}}master-minicard_free{{/unless}}">

    <div elem="photo-cont">
        <img elem="photo" src="http://api-fm.present-tlt.ru/files?key={{imgID}}" alt="{{name}}">
        {{#if page}}
            <i elem="like">{{icon "like"}} {{vkLikes.countLikes}}</i>
        {{/if}}
    </div>

    <div elem="contact-wrap">
        <cat-master-phone-btn
                id="master-phone-btn-{{id}}"
                phone="{{contacts.phone}}"
                page="{{page.number}}"
                owner="{{id}}"></cat-master-phone-btn>

        {{#if page.number}}
            <a elem="to-page" href="/{{page.number}}">На страницу мастера<i>{{icon "strelka"}}</i></a>
        {{/if}}
        <a elem="show-services" href="#" mix="block:js-services-toggle">Показать услуги</a>
    </div>

    {{#if company}}
        <p elem="company">
            <span><img elem="logo" src="{{imgSrc company.imgID null 70}}" alt=""></span>
            <span>{{company.name}}</span>
        </p>
    {{/if}}

    <p elem="name">{{name}}</p>

    <p elem="spec">{{spec}}</p>

    <ul elem="services" mix="block: js-minicard-services-cut"
        class="{{#if isWidget}}master-minicard__services_half{{/if}}">
        {{#each services}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
    {{#if page}}
        <ul block="master-content-widget">
            <li elem="gift" class="{{#if page.sales}}{{#if sales.0.title}}act{{/if}}{{/if}}">
                <i>{{icon "gift"}}</i>

                <div>
                    <p elem="info"><span>
                        {{#is sales.0.type "==" 1}}
                            Подарок
                        {{/is}}
                        {{#is sales.0.type "==" 2}}
                            Скидка {{sales.0.discount}}%
                        {{/is}}
                        {{#is sales.0.type "==" 3}}
                            -{{sales.0.discount}} руб.
                        {{/is}}
                    </span></p>

                    <p elem="text">{{sales.0.title}}</p>
                </div>
            </li>
            <li elem="photo" class="{{#if page.albums}}{{#if albums.0.name}}act{{/if}}{{/if}}">
                <i>{{icon "picture"}}</i>

                <div>
                    <p elem="info">
                        <span>
                            У Мастера:<br>
                            <strong>{{getNumEnding albumsCount "фотоальбом, фотоальбома, фотоальбомов"}}</strong>
                        </span>
                    </p>

                    <p elem="text">{{albumsTitle}}</p>
                </div>
            </li>
            <li elem="video" class="{{#if page.videos}}{{#if videos.0.title}}act{{/if}}{{/if}}">
                <i>{{icon "video"}}</i>

                <div>
                    <p elem="info"><span>{{imgID}}</span></p>

                    <p elem="text">{{videos.0.title}}</p>
                </div>
            </li>
            <li elem="comment" class="{{#if page.comments}}{{#if comments.0.text}}act{{/if}}{{/if}}">
                <i>{{icon "dialog"}}</i>

                <div>
                    <p elem="info">
                        <span>
                            У Мастера:<br>
                            <strong>
                                {{getNumEnding vkLikes.countLikes "рекомендация, рекомендации, рекомендаций"}}<br>
                                {{getNumEnding commentsCount "отзыв, отзыва, отзывов"}}
                            </strong>
                        </span>
                    </p>

                    <p elem="text">«{{comments.0.text}}»</p>
                </div>
            </li>
        </ul>
    {{/if}}
</div>


