<div block="catalog">

    <div elem="secondary">
        <p elem="menu-ico">Каталог <span>{{icon "menu"}}</span></p>
        <ul elem="list">
            <li class="{{#unless currentRubrika}}act{{/unless}}">
                {{icon "strelka"}}
                <a href="/video">Все<span></span></a>
            </li>
            {{#each rubrikator}}
                {{#with parent}}
                    <li class="{{#is ../../currentRubrika '==' id}}act{{/is}}">
                        {{icon "strelka"}}
                        <a href="/video/catalog/{{id}}">{{name}}<span>{{videoCount}}</span></a>
                    </li>
                {{/with}}
            {{/each}}
        </ul>
    </div>


    <div elem="content">
        {{#each data}}
            <div elem="item">
                <div block="catalog-item">

                    <a href="http://{{url}}" elem="img-cont"><img src="{{img}}"></a>

                    <div elem="wrapper">
                        <p elem="title">{{{title}}}</p>

                        <p elem="text">{{{description}}}</p>
                    </div>

                    <p elem="add-date">29 декабря 2015</p>

                    <div block="master-micro-inf" mod="video">
                        <p elem="title">Видео добавил:</p>
                        <a href="" elem="cont">
                            <span><img src="{{imgSrc owner.imgID 50 50}}"></span>
                            <span><br>{{owner.name}}</span>
                        </a>
                    </div>

                </div>
            </div>
        {{/each}}

    </div>

    <!-- пагинатор должен лежать внутри компонента с cat-store VideoByRubrika -->
    <cat-common-paginator id="common-paginator" cat-store="Paginator"
                          model="video/VideoByRubrika"></cat-common-paginator>
</div>