<h1 block="h1" mod="style">Страница компании</h1>
<div block="company-page"><!-- cp - company-page -->
    <div elem="row">

        <div elem="card">

            <div elem="avatar-cont">
                <img src="{{imgSrc imgID 225 225}}" alt="{{name}}">
                <!--<i elem="like" style="color: red; font-weight: bold">{{icon "like"}} 129</i>-->
            </div>

            <div block="company-card-cp">
                <h1 elem="name"><span>{{name}}</span></h1>
            </div>
        </div>

        <div elem="contact-cont">
            <div block="contacts-cp">
                <p elem="addr">{{contacts.addr}}</p>
            </div>
        </div>
    </div>

    <div elem="content">
        {{#each isBlock}}
            {{#if access}}
                {{#if active}}
                    <p elem="section-title">{{name}}</p>

                    <div elem="section-cont">
                        <cat-master-block-{{@key}} id="master-block-{{@key}}"
                                                   cat-store="master/MasterItem"></cat-master-block-{{@key}}>
                    </div>
                {{/if}}
            {{/if}}
        {{/each}}

        <!--<div elem="section-cont">-->
            <!--<cat-master-block-work id="master-block-work"></cat-master-block-work>-->
        <!--</div>-->

        <!--<div elem="section-cont">-->
            <!--<cat-master-block-about id="master-block-about"></cat-master-block-about>-->
        <!--</div>-->

    </div>
</div>

