<div block="sale" class="sale_{{mod}}">
    <a href="#" elem="link">
        <p elem="title">
            {{#is type "==" 1}}
                Подарок
            {{/is}}
            {{#is type "==" 2}}
                Скидка {{discount}}%
            {{/is}}
            {{#is type "==" 3}}
                -{{discount}} руб.
            {{/is}}
        </p>

        <div elem="pic"><img src="{{imgSrc imgID 220 220}}" elem="img" alt="{{title}}">
        </div>

        <p elem="text">{{title}}</p>
    </a>
</div>