<div block="article">
    <a href="/{{owner.page.number}}/article/{{id}}" elem="link" mix="block:js-open-article">
        <div elem="pic">
            <img elem="img" src="{{imgSrc imgID 210 210}}" alt="{{title}}">
        </div>
        <div elem="text">
            <p>{{title}}</p>
        </div>
        <p elem="author">{{owner.name}}</p>
    </a>
</div>