<div block="article">
    <a href="/{{masterNumber}}/article/{{article.id}}" elem="link" mix="block:js-open-article">
        <div elem="pic">
            <img elem="img" src="{{imgSrc article.imgID 210 210}}" alt="{{title}}">
        </div>
        <div elem="text">
            <p>{{article.title}}</p>
        </div>
        <p elem="author">{{masterName}}</p>
    </a>
</div>