{{#each this}}
    {{#if active}}
        <p><strong>{{parent.name}} {{parent.saleCount}}</strong></p>
        <div>
            <p>подрубрики:</p>
            {{#if root}}
                {{#each podrubriks}}
                    {{#if ../active}}
                        {{#if root}}
                            <p>---<a href="/sale/catalog/{{parent.id}}">{{parent.name}}</a> {{parent.saleCount}}</p>
                            {{#each podrubriks}}
                                {{#if ../active}}
                                    <p>-----<a href="/sale/catalog/{{id}}">{{name}}</a> {{saleCount}} {{#if active}}
                                        active{{/if}}</p>
                                {{/if}}
                            {{/each}}
                        {{else}}
                            <p>---<a href="/sale/catalog/{{id}}">{{name}}</a> {{saleCount}} {{#if active}}active{{/if}}
                            </p>
                        {{/if}}
                    {{/if}}
                {{/each}}
            {{/if}}
        </div>
        <div>
            <p>акции</p>
            {{#each sale}}
                <p>{{title}}</p>
            {{/each}}
            <cat-common-paginator id="common-paginator{{parent.id}}" cat-store="Paginator"
                                  model="sale/SaleByRubrika"></cat-common-paginator>
        </div>
        <hr>
    {{/if}}
{{/each}}


