<!--данный hbs сделан так для примера его можно разбить для удобства по блокам!-->
<div block="sale-catalog">
    {{#if currentRubrika}}
        {{#each rubrikator}}
            {{#if active}}
            <div elem="item">
                <p elem="title" style="background-color: {{children.0.root.color}}">
                    {{name}}
                    <span>{{saleCount}}</span>
                </p>
                <div elem="shares">
                    {{#each sale}}
                        <div elem="sale-item">
                            <div block="sale" mod="catalog">
                                <a href="" elem="link">
                                    <p elem="title">
                                        {{#is type "==" 1}}
                                            Подарок
                                        {{/is}}
                                        {{#is type "==" 2}}
                                            Скидка {{discount}}%
                                        {{/is}}
                                        {{#is type "==" 3}}
                                            -{{discount}} руб.
                                        {{/is}}
                                    </p>

                                    <div elem="pic"><img src="{{imgSrc imgID 200 200}}" elem="img" alt="{{title}}">
                                    </div>
                                    <p elem="text">{{title}}</p>
                                </a>
                            </div>
                        </div>
                    {{/each}}
                </div>

                <div elem="subhead">
                    <ul elem="list">
                        {{#each children}}
                            {{#if root}}
                                <li elem="root" class="{{#if root.active}}act{{/if}}">
                                    {{icon "strelka"}}
                                    <a href="/sale/catalog/{{root.id}}">{{root.name}}<span>{{saleCount}}</span></a>
                                    {{#if root.active}}
                                        <ul>
                                            {{#each child}}
                                                <li elem="child">
                                                    {{icon "strelka"}}
                                                    <a href="/sale/catalog/{{id}}">{{name}}
                                                        <span>{{saleCount}}</span></a>
                                                </li>
                                            {{/each}}
                                        </ul>
                                    {{/if}}
                                </li>
                            {{else}}
                                {{#each child}}
                                    <li elem="child">
                                        {{icon "strelka"}}
                                        <a href="/sale/catalog/{{id}}">{{name}}<span>{{saleCount}}</span></a>
                                    </li>
                                {{/each}}
                            {{/if}}
                        {{/each}}
                    </ul>
                </div>
            {{/if}}
        {{/each}}
    </div>

        <cat-common-paginator id="common-paginator" cat-store="Paginator"
                              model="sale/SaleByRubrika"></cat-common-paginator>
    {{else}}

        {{#each this}}
            <div elem="item">
                <p elem="title" style="background-color: {{children.0.root.color}}">
                    {{name}}
                    <span>{{saleCount}}</span>
                </p>

                <div elem="shares">
                    {{#each sale}}
                        <div elem="sale-item">
                            <div block="sale" mod="catalog">
                                <a href="" elem="link">
                                    <p elem="title">
                                        {{#is type "==" 1}}
                                            Подарок
                                        {{/is}}
                                        {{#is type "==" 2}}
                                            Скидка {{discount}}%
                                        {{/is}}
                                        {{#is type "==" 3}}
                                            -{{discount}} руб.
                                        {{/is}}
                                    </p>

                                    <div elem="pic"><img src="{{imgSrc imgID 200 200}}" elem="img" alt="{{title}}">
                                    </div>
                                    <p elem="text">{{title}}</p>
                                </a>
                            </div>
                        </div>
                    {{/each}}
                </div>

                <div elem="subhead">
                    <ul elem="list">
                        {{#each children}}
                            {{#if root}}
                                <li elem="root">
                                    {{icon "strelka"}}
                                    <a href="/sale/catalog/{{root.id}}">{{root.name}}<span>{{saleCount}}</span></a>
                                </li>
                            {{else}}
                                {{#each child}}
                                    <li elem="child">
                                        {{icon "strelka"}}
                                        <a href="/sale/catalog/{{id}}">{{name}}<span>{{saleCount}}</span></a>
                                    </li>
                                {{/each}}
                            {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        {{/each}}
    {{/if}}
</div><!-- sale-catalog -->