{{#unless clear}}
    <header block="header" class="{{class}}">
        <div elem="cont">
            <div elem="row">

                <a href="/main" elem="title">Поиск мастеров в сфере услуг</a>

                <div elem="menu">
                    <cat-pages-navigation id="pages-navigation"></cat-pages-navigation>
                </div>

                <div block="logo">
                    <a href="/main" elem="img-cont"><img alt="Facemaster.ru Logo" src="/img/logo.svg" width="100%"></a>

                    <cat-pages-visit id="pages-visit" cat-store="PageVisit"></cat-pages-visit>
                </div>

                <div elem="login">
                    <div block="login">
                        {{#if isGuest}}
                            <a href="http://lk.facemaster.ru/login" elem="btn"><span>{{icon 'home'}}</span>Вход для Мастеров</a>
                        {{else}}
                            <a href="<!--ERROR-->" elem="btn"><span>{{icon 'home'}}</span>Иван М.<!--ERROR - username-->
                            </a>
                            <ul elem="user-menu">
                                <!--ERROR MENUUSER-->
                                <li><a href="/">Длинная запись тестирование</a></li>
                                <li><a href="/">Короткая запись</a></li>
                                <li><a href="/">123</a></li>
                                {{#each authData.menuUser}}
                                    <li><a href="{{url}}">{{title}}</a></li>
                                {{/each}}
                            </ul>
                        {{/if}}
                    </div>

                    <div elem="social">
                        <cat-social id="social"></cat-social>
                    </div>
                </div>
            </div>
        </div>
    </header>
{{/unless}}
