<div block="video-md">

    {{#each videos}}
        <div elem="item-cont">
            <cat-block-video id="block-video-{{id}}" cat-store="{{../model}}" id-block="{{@index}}"></cat-block-video>

            <!--<div block="video-cont">-->
                <!--<a href="http://{{url}}" elem="video-cover">-->
                    <!--<span elem="img-cont"><img src="{{img}}" alt="{{title}}"></span><br>-->
                    <!--<span elem="title-prev">{{title}}</span>-->
                    <!--<span elem="desc">{{description}}</span>-->
                <!--</a>-->
            <!--</div>-->

        </div>
    {{/each}}

</div><!-- video-md -->
